body{
	background-color: #add8e6;
	line-height: 1.4;
	color: black;
	font-family: 'Georgia', sans-serif;
	overflow-x: hidden;
}

button {
  background-color: #bda9ce;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 6px;
}