<?xml version="1.0" encoding="UTF-8"?>
<web-app
xmlns="http://xmlns.jcp.org/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
version="4.0">
  <display-name>group37db</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driverClass</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>connectionURL</param-name>
    <param-value>jdbc:mysql://group37db.cu5z78pch9rp.us-east-2.rds.amazonaws.com:3306/group37db</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>group37</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>rutgersgroup37dbpassword</param-value>
  </context-param>
  <session-config>
    <session-timeout>-1</session-timeout> <!-- 720 minutes = 12 hours -->
  </session-config>
</web-app>